body {
    background-color: #000000;
    text-align: center;
    margin-top: 5%;
}

a {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff3a;
    border-radius: 5px;
    text-decoration: none;
    color:inherit
}
a:hover {
    background-color: #ffffffa5;
}
input {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff3a;
    border-radius: 5px;
}
input:hover {
    background-color: #ffffffa5;
}
